body {
	font-family: Roboto Mono, Ubuntu Mono;
	background: #333;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

#servers {
	display: flex;
}

.server {
	position: relative;
	overflow: hidden;
	width: 300px;
	margin: 15px;
	background-color: #555;
}

.server > header {
	text-align: center;
	margin: 0 0 5px;
	font-size: 26px;
	color: #FFF;
	text-transform: uppercase;
}

.server .service {
	background-color: #888;
	padding: 6px;
	padding-right: 0;
	overflow: hidden;
	margin-top: 5px;
}

.server .service::before {
	display: block;
	color: #333;
	text-transform: uppercase;
	font-size: 18px;
}

.server .service > .section {
	display: flex;
	flex-wrap: wrap;
}

.server .service > .section::after {
	content: "";
	display: table;
	clear: both;
}

.server .service > .section header {
	display: block;
	width: 100%;
}

.server .service > .section .action {
	float: left;
	display: block;
	opacity: 0.5;
	color: #FFF;
	width: 65px;
	margin: 2px 3px;
	padding: 2px 4px;
}

.server .service > .section .action.active {
	opacity: 1;
}

.server .service > .section {
	margin-top: 4px;
	background-color: rgba(0,0,0,0.1);
	padding: 4px;
	margin-left: 20px;
}

.server .service > .section .action {
	background-color: #DDD;
	order: 100;
}




.server .service.apache2::before {
	content: "Apache 2";
}
.server .service.apache2 > .section .action.GET {
	background-color: #003300;
	order: 1;
}
.server .service.apache2 > .section .action.POST {
	background-color: #000033;
	order: 2;
}
.server .service.apache2 > .section .action.OPTIONS {
	background-color: #333300;
	order: 4;
}
.server .service.apache2 > .section .action.HEAD {
	background-color: #330033;
	order: 3;
}



.server .service.php::before {
	content: "PHP";
}
.server .service.php > .section .action.error {
	background-color: #ad0000;
	order: 1;
}
.server .service.php > .section .action.warn {
	background-color: #ba770f;
	order: 2;
}
.server .service.php > .section .action.notice {
	background-color: #7f7e81;
	order: 3;
}




.server .service.mysql::before {
	content: "MySQL";
}

.server .service.ufw::before {
	content: "UFW";
}